html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #f5e0c0,#c9e2f4);
}

.create-account{
    margin-left: 80px;
    margin-top: 20px;
    display: flex;
    width: 1100px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    background: linear-gradient(to right, #f1dcbc,#d0e1ee);
}

.create-account img{
    width: 500px; 
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 20%;
    margin-left: 40px;
}

.create-account #signup{
    color: #092047;
    font-size: 20px;
    margin-left: 0px;
    margin-top: 20px;
}

@font-face{
    font-family: 'CreateAccountHeading';
    src: url('./fonts/CalSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
.create-account h1{
    font-family: 'CreateAccountHeading', sans-serif; 
    margin-left: 125px;
    margin-top: 20px;
}
  
@font-face{
    font-family: 'CreateAccountLabels';
    src: url('./fonts/Simonetta-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.create-account label{
    font-size: 25px;
    font-family: "CreateAccountLabels",sans-serif;
    margin-top: 13px;
}

.create-account input{
    width: 400px;
    height: 35px;
    border-radius: 20px;
    border: 2px solid #092047;
    font-family: "CreateAccountLabels",sans-serif;
    font-size: 25px;
    color: #092047;
    margin-top: 10px;
    padding-left: 10px;
    display: block;
    margin-left: 110px;
    margin-bottom: 10px;
}

.create-account #signupbtn{
    margin-top: 35px;
    width: 250px;
    height: 50px;
    border-radius: 30px;
    border: 2px solid #092047;
    font-family: "CreateAccountLabels",sans-serif;
    font-size: 30px;
    background-color: #092047;
    color: white;
    cursor: pointer;
    margin-left: 190px;
}

.create-account #signupbtn:hover{
    transform: scale(1.1); /* This will increase both the X and Y axes by 10% */
    transition: transform 0.3s ease; 
}

.create-account span{
    margin-left: 110px;
}

.create-account #flex{
    display: flex;
    padding-left: 110px;
    justify-content: flex-start;
    column-gap: 10px;
}

.create-account #flex span{
    margin-top: 15px;
    margin-left: 0px;
}

.create-account #error{
    color: red;
    margin-top: 20px;
    font-family: "CreateAccountLabels";
    font-size: 25px;
    text-align: center;
}